body {
	font-family: 'Jura', sans-serif;
	width: 768px;
	margin: 20px auto 100px;
	line-height: 1.3;
	background: url(../img/Habrahabr_logo.png);
	opacity: .8
}

.wrapper {
	background: #fff;
	top: 0;
	padding: 20px;
}

.items {
	margin: 30px 0;
}

.howework1 {
	margin-top: 100px;
}

table {
	border: 1px solid #ccc;
	vertical-align: middle;
	text-align: center;
	margin: 20px 0;
}

table td, table th {
	border: 1px solid #ccc;
	padding: 8px;
}

input[type="text"] {
	width: 100px;
	border: 2px solid #DF8026;
}

.dop_menu {
	display: none;
}

.dop_menu a {
	display: block;
	color: #DF8026;
	text-decoration: none;
	font: 14px arial;
}

.personal_style {
	padding: 0 !important;
	margin: 0 45px !important;
	background: url('../img/menu.png') no-repeat;
	width: 20px;
	height: 20px;
	margin: 12px;
	float: right;
	border: none;
}

.personal_style:hover .dop_menu{
	display: block;
}

#menu {
	min-height: 100%;
	background: #F2F2F2;
	border-bottom: 1px solid #e8e8e8;
	padding-top: 7px;
	padding-bottom: 8px;
	position: fixed;
	left: 0;
	top: 0;
}

#menu ul{ padding: 0;margin: 0;}

#menu li{ 
	padding: 20px;
	margin: 30px 0;
	list-style: none;
	list-style-position: inside;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

#menu li:hover {
	background: #EAE8E8;
}

#menu li>a{ color: #DF8026; font: 14px arial; text-decoration: none;}

a.gallery {
	text-decoration: none;
	color: #DF8026;
	font: 18px 'Jura', sans-serif;
	display: block;
	float: left;
}

.gallery_img {
	margin: 0 20px 20px 0;
	float: left;
}

.item2 {
	clear: both;
}

.gallery_input {
	padding: 7px;
	box-shadow: 0 0 5px #52BAD5 inset;
	border-radius: 20px;
}

.gallery_input:hover {
	background: #F4F4F4;
}

#switch, #item1_results_button, #item4_results_button, #item5_results_button, 
#item6_results_button, .gallery_button {
	padding: 7px;
	margin: 15px 0;
	background: #DF8026;
	text-align: center;
	border-radius: 20px;
	width: 150px;
	outline: none;
}

#switch:hover, #item1_results_button:hover, #item4_results_button:hover, #item5_results_button:hover, 
#item6_results_button:hover, .gallery_button:hover {
	background: #DF1526;
}

.not_available, .item1_results, .item4_results, .switch_results, .item5_results, .item6_results {
	padding: 10px 0;
	color: #52BAD5;
	font-size: 22px;
}

.hw6_gallery img {
	width: 250px;
	margin: 10px 0;
	border-radius: 40px;
}

#flb-close {
	width: 25px !important;
	height: 25px !important;
	margin-left: 382px;
}

#hw7_gallery {
	font-size: 12px;
}

#hw7_gallery img:hover {
	cursor: pointer;
}

#hw7_gallery .img_item {
	float: left;
}

#hw7_gallery .views {
	background: url('../lesson7/hw7/img/views.png') no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 0 0 0 90px;
	cursor: pointer;
}


#hw7_gallery .likes {
	background: url('../lesson7/hw7/img/лайка.gif') no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 0 0 0 20px;
	cursor: pointer;
}

#hw7_full_image {
	margin: 20px auto;
}

#hw7_full_size_show {
	  position:relative;
	  display: none;
	  background-color:#fff;
	  width:700px;
	  padding:12px;
	  height:500px;
	  margin:100px auto;
	  border:red solid 1px;
}
.hw7_wrapper {
	 display: none;
	 top:0;
	 left:0;
	 position:fixed;
	 background-color:#ccc;
	 opacity: 0.74;
	 width:100%;
	 height:100%;
	 z-index:10000;
}



